<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить задачу</title>
    <link th:href="@{/css/add_task.css}" rel="stylesheet">
    <link th:href="@{/css/header.css}" rel="stylesheet">
    <link th:href="@{/css/footer.css}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}" />
</head>
<body>
    <div th:replace="templates/header :: header-fragment"></div>
    <form>
        <label>Название задачи:</label><br>
        <input type="text"><br>
        <label>Для кого:</label><br>
        <select name="user">
            <option>Я</option>
            <option>Сильвио Данте(Консильери)</option>
            <option>Полли Галтиери(Капо)</option>
            <option>Джимми Альтиери(Капо)</option>
            <option>Сальваторе Бонпенсьеро(Капо)</option>
            <option>Кристофер Молтисанти(Боец)</option>
        </select><br>
        <label>Описание задачи:</label><br>
        <textarea cols="30" rows="3"></textarea><br>
        <label>Комментарий:</label><br>
        <textarea cols="30" rows="3"></textarea><br>
        <button type="submit">Сохранить</button>
    </form>
    <div th:replace="templates/footer :: footer-fragment"></div>
</body>
</html>