<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Добавить задачу</title>
    <link th:href="@{/css/add_task.css}" rel="stylesheet">
    <link th:href="@{/css/header.css}" rel="stylesheet">
    <link th:href="@{/css/footer.css}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}" />
</head>
<body>
    <div th:replace="templates/header :: header-fragment"></div>
    <form th:attr="action=${isUpdate ? ('/upcoming-tasks/update-old-task/' + user.id) : '/upcoming-tasks/add-task'}"
          th:object="${task}"
          method="post">
        <label>Название задачи:</label><br>
        <input type="text" th:field="*{name}"><br>
        <label sec:authorize="hasAnyAuthority('ADMIN')">Для кого:</label><br>
        <select sec:authorize="hasAnyAuthority('ADMIN')"
                th:field="*{toUser}">
            <option th:each="user : ${users}"
                    th:if="${user.securityUser.isAccountNonLocked()}"
                    th:value="${user.id}"
                    th:text="${user.id == currentUser.id ? 'Я' : user.name + ' ' + user.surname + ' (' + user.jobTitle + ')'}">
            </option>
        </select><br>
        <label>Описание задачи:</label><br>
        <textarea cols="30" rows="3" th:field="*{description}"></textarea><br>
        <label>Комментарий:</label><br>
        <textarea cols="30" rows="3" th:field="*{report}"></textarea><br>
        <button type="submit">Сохранить</button>
    </form>
    <div th:replace="templates/footer :: footer-fragment"></div>
</body>
</html>