<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Проваленные задачи</title>
    <link th:href="@{/css/tasks_tables.css}" rel="stylesheet">
    <link th:href="@{/css/header.css}" rel="stylesheet">
    <link th:href="@{/css/footer.css}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}" />
</head>
<body>
<div th:replace="templates/header :: header-fragment"></div>
<table class="tasks-table">
    <tr class="tasks-table-header">
        <th>Название задачи</th>
        <th sec:authorize="hasAuthority('USER')">От кого</th>
        <th sec:authorize="hasAuthority('ADMIN')">Для кого</th>
    </tr>
    <tr th:each="task : ${failedTasks}"
        th:class="${(isAdmin && currentUser.id == task.toUser.id)
                || (!isAdmin && currentUser.id == task.fromUser.id)} ? 'task-for-me' : 'task-for-user'">
        <td class="data-td">
            <a class="data"
               th:href="@{/upcoming-tasks/add-or-update-task}"
               th:text="${task.name}"></a>
        </td>
        <td class="data-td">
            <a class="data"
               sec:authorize="hasAuthority('ADMIN')"
               th:href="@{/upcoming-tasks/add-or-update-task}"
               th:text="${currentUser.id == task.toUser.id ? 'Я'
                        : (task.toUser.name + ' ' + task.toUser.surname + '(' + task.toUser.jobTitle + ')')}"></a>
            <a class="data"
               sec:authorize="hasAuthority('USER')"
               th:href="@{/upcoming-tasks/add-or-update-task}"
               th:text="${currentUser.id == task.fromUser.id ? 'Я'
                        : (task.fromUser.name + ' ' + task.fromUser.surname + '(' + task.fromUser.jobTitle + ')')}"></a>
        </td>
    </tr>
</table>
<div th:replace="templates/footer :: footer-fragment"></div>
</body>
</html>