<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Профиль</title>
    <link th:href="@{/css/profile.css}" rel="stylesheet">
    <link th:href="@{/css/header.css}" rel="stylesheet">
    <link th:href="@{/css/footer.css}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}" />
</head>
<body>
    <div th:replace="templates/header :: header-fragment"></div>
    <table class="profile" th:object="${user}">
        <tr>
            <td rowspan="6"><img class="profile-image" th:src="@{/images/profile.png}"></td>
            <td class="name" th:text="*{name} + ' ' + *{surname}"></td>
        </tr>
        <tr>
            <td>
                <div class="field-name" th:text="'Логин: '"></div>
                <div class="field-value" th:text="*{securityUser.login}"></div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="field-name" th:text="'Должность: '"></div>
                <div class="field-value" th:text="*{jobTitle}"></div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="field-name" th:text="'Контактные данные: '"></div>
                <div class="field-value" th:text="*{contacts}"></div>
            </td>
        </tr>
        <tr>
            <td class="profile-edit-block">
                <a th:href="@{/edit-profile}" class="profile-edit">Редактировать профиль</a>
            </td>
        </tr>
    </table>
    <div th:replace="templates/footer :: footer-fragment"></div>
</body>
</html>