<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script th:src="@{/js/profile_editor_title.js}"></script>
    <link th:href="@{/css/profile_editor.css}" rel="stylesheet">
    <link th:href="@{/css/header.css}" rel="stylesheet">
    <link th:href="@{/css/footer.css}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}"/>
</head>
<body>
<div th:replace="templates/header :: header-fragment"></div>
<!--th:attr="class=${condition ? 'base condition-true' : 'base condition-false'}"-->
<form class="profile-editor" th:attr="action=${isAdmin ? ('/users/create-or-update/' + user.id) : '/update-profile'}"
                             th:object="${user}" method="post">
    <input th:field="*{securityUser.login}" th:value="${user.securityUser.login}"
       type="text" placeholder="Логин">
    <input type="password" th:field="*{securityUser.password}"
           placeholder="Пароль">
    <input type="text" th:field="*{name}" th:value="user.name"
           placeholder="Имя">
    <input type="text" th:field="*{surname}" th:value="user.surname"
           placeholder="Фамилия">
    <input type="text" th:field="*{jobTitle}" th:value="user.jobTitle"
           placeholder="Должность">
    <input type="text" th:field="*{contacts}" th:value="user.contacts"
           placeholder="Контактные данные">
    <button type="submit">Сохранить</button>
</form>
<div th:replace="templates/footer :: footer-fragment"></div>
</body>
</html>