<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <script th:src="@{/js/profile_editor_title.js}"></script>
    <script th:src="@{/js/profile_editor_password.js}"></script>
    <link th:href="@{/css/profile_editor.css}" rel="stylesheet">
    <link th:href="@{/css/header.css}" rel="stylesheet">
    <link th:href="@{/css/footer.css}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}"/>
</head>
<body>
<div th:replace="templates/header :: header-fragment"></div>
<form class="profile-editor" th:attr="action=${isAdmin ? ('/users/create-or-update/' + user.id) : '/update-profile'}"
      th:object="${user}" method="post">
    <!--<label>Редактирование профиля</label>-->
    <div th:if="${!isAdmin || isAdd}">
        <input th:field="*{securityUser.login}" th:value="${user.securityUser.login}"
               type="text" placeholder="Логин">
        <div>
            <input type="password" th:field="*{securityUser.password}"
                   id="passwordField" placeholder="Пароль">
            <span class="eye-icon" onclick="togglePasswordVisibility()">👁</span>
        </div>
    </div>
    <input type="text" th:field="*{name}" th:value="user.name"
           placeholder="Имя">
    <input type="text" th:field="*{surname}" th:value="user.surname"
           placeholder="Фамилия">
    <input type="text" sec:authorize="hasAnyAuthority('ADMIN')" th:field="*{jobTitle}" th:value="user.jobTitle"
           placeholder="Должность">
    <input type="text" th:field="*{contacts}" th:value="user.contacts"
           placeholder="Контактные данные">
    <button type="submit">Сохранить</button>
</form>
<div th:replace="templates/footer :: footer-fragment"></div>
</body>
</html>