<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Предстоящие задачи</title>
    <link th:href="@{/css/tasks_tables.css}" rel="stylesheet">
    <link th:href="@{/css/header.css}" rel="stylesheet">
    <link th:href="@{/css/footer.css}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}" />
</head>
<body>
    <div th:replace="templates/header :: header-fragment"></div>
    <table class="tasks-table">
        <tr>
            <td class="add-task-td" colspan="4">
                <a th:href="@{/upcoming-tasks/create-task}" class="add-task">Добавить задачу</a>
            </td>
        <tr>
        <tr class="tasks-table-header">
            <th>Название задачи</th>
            <th sec:authorize="hasAuthority('USER')">От кого</th>
            <th sec:authorize="hasAuthority('ADMIN')">Для кого</th>
            <th colspan="2">Действия</th>
        </tr>
        <tr th:each="task : ${upcomingTasks}"
            th:class="${(isAdmin && currentUser.id == task.toUser.id)
                || (!isAdmin && currentUser.id == task.fromUser.id)} ? 'task-for-me' : 'task-for-user'">
            <td class="data-td">
                <a class="data"
                   th:href="@{/upcoming-tasks/add-or-update-task}"
                   th:text="${task.name}"></a>
            </td>
            <td class="data-td">
                <a class="data"
                   sec:authorize="hasAuthority('ADMIN')"
                   th:href="@{/upcoming-tasks/add-or-update-task}"
                   th:text="${currentUser.id == task.toUser.id ? 'Я'
                        : (task.toUser.name + ' ' + task.toUser.surname + '(' + task.toUser.jobTitle + ')')}"></a>
                <a class="data"
                   sec:authorize="hasAuthority('USER')"
                   th:href="@{/upcoming-tasks/add-or-update-task}"
                   th:text="${currentUser.id == task.fromUser.id ? 'Я'
                        : (task.fromUser.name + ' ' + task.fromUser.surname + '(' + task.fromUser.jobTitle + ')')}"></a>
            </td>
            <td class="action-td">
                <a class="action" th:href="@{/upcoming-tasks/update-to-complete/{id}(id=${task.id})}">
                    <img th:src="@{/images/done.png}">Выполнено
                </a>
            </td>
            <td class="action-td">
                <a class="action" th:href="@{/upcoming-tasks/update-to-failed/{id}(id=${task.id})}">
                    <img th:src="@{/images/failed.png}">Провалено
                </a>
            </td>
        </tr>
    </table>
    <div th:replace="templates/footer :: footer-fragment"></div>
</body>
</html>
