<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Пользователи</title>
    <link th:href="@{/css/users.css}" rel="stylesheet">
    <link th:href="@{/css/header.css}" rel="stylesheet">
    <link th:href="@{/css/footer.css}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}">
</head>
<body>
    <div th:replace="templates/header :: header-fragment"></div>
    <table class="users-table">
        <tr>
            <td class="add-user-td"
                colspan="5">
                <a class="add-user" th:href="@{/users/add-user}">Добавить пользователя</a>
            </td>
        </tr>
        <tr class="table-header">
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Должность</th>
            <th>Контактные данные</th>
            <th>Действие</th>
        </tr>
        <tr th:each="user, stat : ${users}" th:class="${stat.even} ? 'even' : 'not-even'">
            <td class="data-td"><a class="data" href="" th:text="${user.name}"></a></td>
            <td class="data-td"><a class="data" href="" th:text="${user.surname}"></a></td>
            <td class="data-td"><a class="data" href="" th:text="${user.jobTitle}"></a></td>
            <td class="data-td"><a class="data" href="" th:text="${user.contacts}"></a></td>
            <td class="action-td">
                <a class="action-delete" href=""
                   th:if="${user.status == T(ru.backend.enums.UserStatus).ACTIVE}">
                    <img th:src="@{/images/delete-user.png}">
                    Удалить
                </a>
                <a class="action-restore" href=""
                   th:if="${user.status == T(ru.backend.enums.UserStatus).DELETED}">
                    <img th:src="@{/images/restore-user.png}">
                    Восстановить
                </a>
            </td>
        </tr>
    </table>
    <div th:replace="templates/footer :: footer-fragment"></div>
</body>
</html>