body {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    font-family: 'Regular', sans-serif;
    border-radius: 20px; /* устанавливает скругление углов */
    padding: 20px 40px; /* устанавливает отступы сверху и снизу в 20px и по горизонтали - автоматически (чтобы выровнять по центру) */
    background-color: #575757; /* устанавливает цвет фона формы */
    margin-top: 10%;
    margin-bottom: 15%;
    display: flex;
    flex-direction: column;
}

label {
    padding-top: 20px;
    padding-left: 10px;
    font-size: 18px;
    color: white;
}

form button {
    margin: 30px 40px auto; /* устанавливает отступы сверху и снизу в 40px и по горизонтали - автоматический (чтобы выровнять по центру) */
    padding: 10px 40px; /* устанавливает внутренние отступы сверху и снизу по 10px, слева и справа по 40px */
    font-size: 20px; /* устанавливает размер шрифта 16px */
    border: none; /* убирает границу у кнопки */
    background-color: #319CFF; /* устанавливает цвет фона кнопки */
    color: #fff; /* устанавливает цвет текста кнопки */
    cursor: pointer; /* устанавливает вид курсора при наведении на кнопку */
    border-radius: 10px;
    transition: border-radius 0.6s; /* добавляет анимацию изменения скругления углов при наведении на кнопку */
}

form button:hover {
    border-radius: 30px; /* изменяет скругление углов кнопки при наведении на нее */
}

form input,
form select,
form textarea {
    border-radius: 30px; /* устанавливает скругление углов */
    padding: 10px 28px; /* устанавливает внутренние отступы сверху и снизу по 10px, слева и справа по 25px */
    font-size: 20px; /* устанавливает размер шрифта 16px */
    border: none;
    margin-left: 0;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

select {
    background-color: #fff;
    appearance: none;
}

select option {
    background-color: #fff; /* устанавливает цвет фона пункта выпадающего списка */
    color: #000; /* устанавливает цвет текста пункта выпадающего списка */
}

select option:hover {
    background-color: #319CFF; /* устанавливает цвет фона пункта выпадающего списка при наведении на него */
    color: #fff; /* устанавливает цвет текста пункта выпадающего списка при наведении на него */
}