body {
    margin: 0; /* Устанавливает отступы по умолчанию для элемента body */
}

.header {
    border-bottom: 3px solid #9B9B9B;
    position: fixed;/* Задает элементу position: fixed, чтобы он оставался на месте при прокрутке страницы */
    text-align: center; /* Выравнивает текст по центру внутри элемента с классом .header */
    width: 100%; /* Задает ширину элемента в 100% от родительского элемента */
    top: 0; /* Устанавливает отступ сверху равным 0 для элемента */
    background-color: #575757; /* Устанавливает цвет фона элемента */
}

/* Стили для ссылок-кнопок */
.header-button {
    display: inline-block; /* Устанавливает элемент как строчно-блочный */
    text-decoration: none; /* Убирает подчеркивание у ссылки */
    padding: 10px 20px; /* Устанавливает внутренние отступы для элемента */
    border: none; /* Убирает границу у элемента */
    background-color: #319CFF; /* Устанавливает цвет фона элемента */
    color: #fff; /* Задает цвет текста внутри элемента */
    font-family: 'Roboto', sans-serif; /* Устанавливает шрифт для текста */
    margin: 20px 0px; /* Увеличивает отступ сверху и снизу на 20 пикселей, обнуляет отступ слева и справа */
    transition: border-radius 0.6s; /* Задает плавное изменение радиуса границы для элемента */
    font-size: 20px; /* Устанавливает размер шрифта */
}

/* Убираем подчеркивание у наведенных ссылок */
.header-button:hover {
    text-decoration: none; /* Убирает подчеркивание у ссылки при наведении */
    border-radius: 30px; /* Устанавливает радиус скругления углов для элемента при наведении */
}

/* Убираем фиолетовое выделение при нажатии */
.header-button:active {
    outline: none; /* Убирает стандартное выделение при активации элемента */
}
