form {
    border-radius: 20px; /* устанавливает скругление углов */
    padding: 20px 30px; /* устанавливает отступы сверху и снизу в 20px и по горизонтали - автоматически (чтобы выровнять по центру) */
    background-color: #575757; /* устанавливает цвет фона формы */
    position: fixed; /* устанавливает позицию формы абсолютно относительно ближайшего позиционированного предка */
    top: 45%; /* устанавливает отступ от верхнего края родительского элемента на 50% */
    left: 50%; /* устанавливает отступ от левого края родительского элемента на 50% */
    transform: translate(-50%, -50%); /* перемещает форму на -50% от ее собственной ширины и высоты, чтобы она оказалась точно посередине */
}

form input {
    margin: 20px auto; /* устанавливает отступы сверху и снизу в 30px и по горизонтали - автоматический (чтобы выровнять по центру) */
}

form button {
    margin: 60px 60px auto; /* устанавливает отступы сверху и снизу в 40px и по горизонтали - автоматический (чтобы выровнять по центру) */
    padding: 10px 40px; /* устанавливает внутренние отступы сверху и снизу по 10px, слева и справа по 40px */
    font-size: 20px; /* устанавливает размер шрифта 16px */
    border: none; /* убирает границу у кнопки */
    background-color: #319CFF; /* устанавливает цвет фона кнопки */
    color: #fff; /* устанавливает цвет текста кнопки */
    cursor: pointer; /* устанавливает вид курсора при наведении на кнопку */
    transition: border-radius 0.6s; /* добавляет анимацию изменения скругления углов при наведении на кнопку */
}

form button:hover {
    border-radius: 30px; /* изменяет скругление углов кнопки при наведении на нее */
}

form button {
    display: block; /* устанавливает блочный тип отображения элемента */
    border-radius: 10px; /* устанавливает скругление углов */
}

form input {
    display: block; /* устанавливает блочный тип отображения элемента */
    border-radius: 30px; /* устанавливает скругление углов */
}

form input[type="text"],
form input[type="password"] {
    padding: 10px 28px; /* устанавливает внутренние отступы сверху и снизу по 10px, слева и справа по 25px */
    font-size: 20px; /* устанавливает размер шрифта 16px */
    border: none; /* устанавливает внешнюю границу определенного стиля */
}

input:focus, textarea:focus, select:focus {
    outline: none;
}