<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <link th:href="@{/css/authentication.css}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}" />
</head>
<body>
<div class="image-container">
    <img th:src="@{/images/fon-auth.png}">
</div>
<form th:action="@{/api/v1/auth/authenticate}" method="post" th:object="${authenticationRequest}">
    <input type="text" placeholder="Логин" th:field="*{email}">
    <input type="password" placeholder="Пароль" th:field="*{password}">
    <button type="submit">Войти</button>
</form>
</body>
</html>
